.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: 1rem;
  background-color: transparent;
  color: black;
  border: .1rem solid black;
  margin: 1rem;
  border-radius: 10%;
  padding: 1rem;
  width: 7rem;
}

button:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 10px 10px rgba(0,0,0,0.35);
}

button:hover::after {
  opacity: 1;
}

h2 {
  font-family: cursive;
}


.upvote, .reset, .delete {
  width: 5rem;
  padding: .5rem;
}

.activities-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}


.new-activity-input {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.new-activity-input > button {
  width: 6rem;
  padding: .5rem;
  align-self: end;
}

.allActivities {
  display: flex;
  align-content: flex-end;
  margin: 0;
  flex-direction: column;
}

input {
  border: .1rem solid black;
  margin-left: 1rem;
}

input:focus {
  outline: purple double .2rem;
}

.activityContainer {
  display: grid;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.progressbarContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 7rem;
}

.progressbarContainer > button {
  font-size: 1.1rem;
  width: 10rem;
  margin: .5rem;
}

.progress-circle {
  width: 15rem;
  height: 15rem;
  padding-bottom: .3rem;
  margin-right: .5rem;
}