body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav > ul > li {
  margin: 1rem;
  padding: 1rem;
  border: .2rem solid black;
}

nav > ul > li:hover{
  background-color: black;
  border-color: white;
  color: white;
}

.progressbarContainer {
  width: 30%;
}

.allActivities {
  display: flex;
  margin-left: 3rem;
}

.activityContainer {
  display: flex;
  flex-direction: column;
}